body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f9ff;
}

header {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.logo {
    width: 120px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.header-content {
    text-align: center;
    padding: 0px;
}

button {
    background: white;
    color: #0072ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #e3f2fd;
}

.banner img {
    width: 100%;
    height: auto;
}

.why-choose, .awareness, .dashboard {
    text-align: center;
    padding: 40px 20px;
    
}
.why-choose :hover p {
    opacity: 1;
    transform: translateY(0);
    
}

.awareness-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-box {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.image-box img {
    width: 250px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.image-box:hover img {
    transform: scale(1.1);
}

.image-box p {
    margin-top: 10px;
    font-weight: bold;
    color: #0072ff;
    font-size: 16px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.image-box:hover p {
    opacity: 1;
    transform: translateY(0);
}

.dashboard-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    background: #0072ff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}